body{
    font-size: 16px;
    font-family: Arial;
    margin: 2px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 99%;
}

h1,h3{
    font-family: Arial;
    color: #f35627;
}

h1 {
    color: #1055bf;
}